<h2>Register!</h2>

<form action="<%= users_url %>" method="post">
  
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">

  <input type="submit">
</form>
